header{
    color:white;
    background-color:rgb(31, 30, 30);
    height:50px;
    text-align: left;
     

}
body
{
    
    background-color: black;

}
footer{
    background-color: black;
    color: white;
}

